
<div class="container">
  <h2>List of restaurants</h2>
  <div class="row row-cols-3 mb-4">
    <% @restaurants.each do |restaurant| %>
      <div class="col card">
        <div class="card mb-3 mt-3">
          <img src="https://picsum.photos/300/200" class="card-img-top" alt="food">
          <div class="card-body">
            <h5 class="card-title"><%= restaurant.name %></h5>
            <p class="card-text"><%="This #{restaurant.category.capitalize} in the heart of #{restaurant.address} is perfect for you today!"%></p>
            <p><%= link_to 'Check reviews', restaurant_path(restaurant), class: "btn btn-primary"%></p>
          </div>
        </div>
      </div>
    <%end%>
  </div>
</div>
