<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light mb-3" style="padding-left: 5rem">
  <div class="container-fluid">
  <%= link_to "Yelp", restaurants_path(@restaurant), class: "navbar-brand", style: "height: 50px" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="http://localhost:3000/restaurants">Link to all restaurants</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="http://localhost:3000/restaurants/new">create a new restaurant</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
